[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-js-indent"]
	path = .vim/bundle/vim-js-indent
	url = git://github.com/jason0x43/vim-js-indent.git
[submodule ".vim/bundle/tmuxline.vim"]
	path = .vim/bundle/tmuxline.vim
	url = git://github.com/edkolev/tmuxline.vim.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = git://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = git://github.com/mhinz/vim-signify.git
[submodule ".vim/bundle/yats.vim"]
	path = .vim/bundle/yats.vim
	url = git://github.com/HerringtonDarkholme/yats.vim.git
[submodule ".vim/bundle/yajs.vim"]
	path = .vim/bundle/yajs.vim
	url = git://github.com/othree/yajs.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = git://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/vim-bufferline"]
	path = .vim/bundle/vim-bufferline
	url = git://github.com/bling/vim-bufferline.git
[submodule ".vim/bundle/vim-buffergator"]
	path = .vim/bundle/vim-buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
[submodule ".vim/bundle/gulp-vim"]
	path = .vim/bundle/gulp-vim
	url = git://github.com/KabbAmine/gulp-vim.git
[submodule "vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/gabrielelana/vim-markdown
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = git://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
